Repository vauchi/cli: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:format, lint:clippy, test:unit, security:audit

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2026 Mattia Egloff <mattia.egloff@pm.me>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# GitLab CI for vauchi-cli
#
# Command-line interface
#
# Performance optimizations:
#   - Change-based rules: Jobs run only when relevant files change
#   - Timeouts: Prevent runaway jobs from blocking runners
#   - Read-only cache for lint jobs
#
# Pipeline strategy:
#   - MR: Validation on relevant file changes
#   - Main: No pipeline (validated via MR)
#
# Uses shared templates from vauchi/scripts for consistency.

# Include shared templates
include:
  - project: 'vauchi/scripts'
    ref: main
    file:
      - '/ci-templates/rust-base.yml'
      - '/ci-templates/security.yml'
      - '/ci-templates/mr-rules.yml'

stages:
  - lint
  - test
  - security

# ============================================================
# Local Template Definitions (until scripts MR is merged)
# ============================================================

.validation-rust:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/*.rs"
        - "**/Cargo.toml"
        - "**/Cargo.lock"
        - ".gitlab-ci.yml"

.validation-deps:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - "**/Cargo.toml"
        - "**/Cargo.lock"
        - ".gitlab-ci.yml"

.timeout-quick:
  timeout: 10 minutes

.timeout-standard:
  timeout: 30 minutes

# ============================================================
# Lint Stage (runs on Rust code changes)
# ============================================================

lint:format:
  extends: [.rust-job, .validation-rust, .timeout-quick]
  stage: lint
  cache:
    policy: pull  # Read-only cache for lint
  script:
    - rustup component add rustfmt
    - cargo fmt --all -- --check

lint:clippy:
  extends: [.rust-job, .validation-rust, .timeout-quick]
  stage: lint
  cache:
    policy: pull  # Read-only cache for lint
  script:
    - rustup component add clippy
    - cargo clippy --all-targets -- -D warnings

# ============================================================
# Test Stage (runs on Rust code changes)
# ============================================================

test:unit:
  extends: [.rust-job, .validation-rust, .timeout-standard]
  stage: test
  script:
    - cargo test --all-targets

# ============================================================
# Security Stage (runs on dependency changes)
# ============================================================

security:audit:
  extends: [.rust-job, .validation-deps, .timeout-quick]
  stage: security
  cache:
    policy: pull  # Read-only cache
  script:
    - cargo install cargo-audit || true
    - cargo audit

chore(ci): Remove local template definitions
  .gitlab-ci.yml
Due: lint:format, lint:clippy, test:unit, security:audit

feat(ci): Add shared REUSE compliance check
  .gitlab-ci.yml
Due: lint:format, lint:clippy, test:unit, security:audit

refactor: Add needs:[] for parallel CI job execution
  .gitlab-ci.yml
Due: lint:format, lint:clippy, test:unit, security:audit

docs: Add funding section to README
  README.md
Due: none

feat: Add GDPR CLI commands for privacy compliance
  src/commands/gdpr.rs
  src/commands/mod.rs
  src/commands/sync.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

feat: Add --offset and --limit pagination args to contacts list
  src/commands/contacts.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

chore: Fix cargo fmt formatting
  src/commands/contacts.rs
  src/commands/gdpr.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

fix: Replace hardcoded fallback key with per-installation random key
  Cargo.toml
  src/config.rs
Due: lint:format, lint:clippy, test:unit, security:audit

fix: Remove unnecessary mut on DeletionManager
  src/commands/gdpr.rs
Due: lint:format, lint:clippy, test:unit

chore: Add cargo-deny configuration and CI job
  .gitlab-ci.yml
  deny.toml
Due: lint:format, lint:clippy, test:unit, security:audit

fix: Handle DeletionScheduled and DeletionCancelled sync items
  src/commands/sync.rs
Due: lint:format, lint:clippy, test:unit

chore: Fix cargo fmt formatting
  src/commands/sync.rs
Due: lint:format, lint:clippy, test:unit

fix: Disable secure-storage in CI tests for headless Linux
  .gitlab-ci.yml
Due: lint:format, lint:clippy, test:unit, security:audit

feat: Add Tor subcommand and fix sync deletion variants
  src/commands/mod.rs
  src/commands/tor.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

feat: Display aha moments in CLI and add FAQ show command
  src/commands/sync.rs
  src/display.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

feat: Add recovery trust contacts CLI commands and enforcement
  src/commands/contacts.rs
  src/commands/recovery.rs
  src/display.rs
  src/main.rs
  tests/cli_integration_tests.rs
Due: lint:format, lint:clippy, test:unit

feat: Add upstream compatibility verification job
  .gitlab-ci.yml
Due: lint:format, lint:clippy, test:unit, security:audit

feat: Wire ExchangeSession state machine into CLI exchange
  src/commands/device.rs
  src/commands/exchange.rs
Due: lint:format, lint:clippy, test:unit

style: Fix formatting
  src/commands/exchange.rs
Due: lint:format, lint:clippy, test:unit

fix: Make DeviceLinkResponder mutable for create_request()
  src/commands/device.rs
  src/i18n.rs
Due: lint:format, lint:clippy, test:unit

docs: Update SUPPORTERS.md link to docs.vauchi.app
  README.md
Due: none

fix: Use per-install backup password + authenticated relay handshake (P0 items #27, #50)
  src/commands/backup.rs
  src/commands/card.rs
  src/commands/contacts.rs
  src/commands/device.rs
  src/commands/exchange.rs
  src/commands/gdpr.rs
  src/commands/init.rs
  src/commands/recovery.rs
  src/commands/sync.rs
  src/config.rs
  src/protocol.rs
Due: lint:format, lint:clippy, test:unit

fix: Pass identity reference to send_handshake in send_initial_card_update
  src/commands/exchange.rs
Due: lint:format, lint:clippy, test:unit

fix: Apply cargo fmt + remove unused imports (Handshake, Identity)
  src/commands/recovery.rs
  src/commands/sync.rs
  src/config.rs
Due: lint:format, lint:clippy, test:unit

feat: Add execute-deletion and panic-shred GDPR commands
  src/commands/gdpr.rs
  src/config.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

fix: Apply cargo fmt to gdpr commands
  src/commands/gdpr.rs
Due: lint:format, lint:clippy, test:unit

refactor: Update exchange commands for mutual QR flow
  src/commands/exchange.rs
  src/protocol.rs
Due: lint:format, lint:clippy, test:unit

refactor: Replace CLI protocol.rs with core simple_message re-exports
  src/commands/exchange.rs
  src/commands/sync.rs
  src/protocol.rs
Due: lint:format, lint:clippy, test:unit

fix: Use file-based storage by default to prevent keychain collisions
  Cargo.toml
  src/config.rs
Due: lint:format, lint:clippy, test:unit, security:audit

fix: Format code and point git dep to feature branch
  Cargo.toml
  src/config.rs
  src/protocol.rs
Due: lint:format, lint:clippy, test:unit, security:audit

ci: Use system git for security jobs to access cross-repo branches
  .gitlab-ci.yml
  Cargo.toml
Due: lint:format, lint:clippy, test:unit, security:audit

fix: Migrate device link complete to new confirmation API
  src/commands/device.rs
Due: lint:format, lint:clippy, test:unit

refactor: Use core's consolidated device sync orchestration
  Cargo.toml
  src/commands/sync.rs
  src/protocol.rs
Due: lint:format, lint:clippy, test:unit, security:audit

fix: Support recovery flow in E2E tests
  src/commands/contacts.rs
  src/commands/recovery.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

feat: Add duress PIN CLI commands (setup, status, disable, test)
  src/commands/duress.rs
  src/commands/mod.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

feat: Add emergency broadcast CLI commands (configure, send, status, disable)
  src/commands/emergency.rs
  src/commands/mod.rs
  src/main.rs
Due: lint:format, lint:clippy, test:unit

style: Fix formatting in duress commands
  src/commands/duress.rs
Due: lint:format, lint:clippy, test:unit

chore: Update vauchi-core rev to latest main
  Cargo.toml
Due: lint:format, lint:clippy, test:unit, security:audit
